body {
  text-align: right;
  direction: rtl;
}

.rtl .text-left {
  text-align: right !important;
}

.rtl .mfp-counter {
  direction: ltr;
}

#main > section {
  padding-right: 80px;
  padding-left: inherit;
}

#main > section {
  transform: translate3d(-100%, 0, 0);
}

ul {
  padding-right: 0;
}

.color-scheme {
  left: 31px;
  right: inherit;
}

.color-scheme i {
  transform: rotateY(180deg);
  display: inline-block;
}

.color-switcher .pallet-button {
  left: 30px;
  right: inherit;
}

.color-switcher .color-pallet {
  left: 95px;
  right: inherit;
}

header {
  right: 0;
  left: inherit;
  border-radius: 1.25rem 0 0 1.25rem;
  box-shadow: 3px 3px 8px rgba(77, 81, 92, 0.1), -3px -3px 8px rgba(255, 255, 255, 0.6) !important;
}

header ul {
  padding: 0;
}

.hero-01 {
  background: url("http://placehold.it/1920x1280") no-repeat;
  background-size: cover;
}

.hero-06 .square {
  right: -10px;
  left: inherit;
}

.hero-social .list-inline-item:not(:last-child) {
  margin-right: inherit;
  margin-left: 1.5rem;
}

.personal-item ~ .button-border {
  margin-left: 1.5rem;
  margin-right: inherit !important;
}

.services-icon {
  float: right !important;
}

.services .services-content {
  padding-right: 3rem  !important;
  padding-left: inherit !important;
}

.services.colorfull-service .services-content {
  padding-right: 4rem  !important;
  padding-left: inherit !important;
}

.resume h3 i {
  padding-left: 0.75rem;
  padding-right: inherit;
  float: right;
  margin-top: 8px;
}

.timeline-items.colorfull-timeline .timeline-item:before {
  display: none !important;
}

.timeline-items.colorfull-timeline .timeline-border {
  border-right: 2px solid;
  border-left: none !important;
}

.timeline-items.colorfull-timeline .timeline-icon {
  left: inherit !important;
  right: -9px !important;
}

.timeline-contents {
  padding-right: 30px;
  padding-left: inherit;
}

.timeline-item::before {
  right: 0;
  left: inherit;
}

.timeline-icon {
  right: -7px;
  left: inherit;
}

.skill-box .skillbar-title {
  right: -17px;
  left: inherit;
}

.skill-box .skillbar-title span {
  margin-right: 18px;
  margin-left: inherit;
}

.skill-box .skill-bar-percent {
  right: inherit;
  left: 0;
}

.skill-box .fill-skillbar {
  float: right;
}

.language-skill ul {
  text-align: left !important;
}

.language-skill i {
  transform: rotateY(180deg);
  display: inline-block;
}

.language-skill .list-inline-item:not(:last-child) {
  margin-right: inherit;
}

.language-skill .list-inline-item {
  margin-left: 0.5rem;
}

.portfolio .portfolio-icon button i {
  left: inherit;
  right: -2px;
}

.portfolio .list-inline-item:not(:last-child) {
  margin-left: 0.5rem;
  margin-right: inherit;
}

.blog-content ul {
  padding-right: 0;
}

.blog-content .list-inline-item:not(:last-child) {
  padding-left: 3rem;
  margin-right: inherit !important;
}

.portfolio-single .text-md-left, .blog-single .text-md-left {
  text-align: right !important;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

#message.toast {
  right: 200px;
  left: inherit !important;
}

.contact #message.toast button {
  float: left !important;
}

.contact #message.toast button.pr-3 {
  padding-left: 1rem !important;
  padding-right: inherit !important;
}

.arshia-dark header {
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #3e3e3e !important;
}

@media (max-width: 1199px) {
  .color-scheme.hide {
    left: -50px;
    right: inherit;
  }
  .menu-toggler {
    right: 25px;
    left: inherit;
  }
  .menu-toggler.open {
    right: 105px;
    left: inherit;
  }
  header {
    right: -90px;
  }
  header.open {
    right: 0;
    left: inherit;
  }
  #main > section {
    padding-right: 0;
  }
}
/*# sourceMappingURL=rtl-main.css.map */